.navbar{
    width: 100vw;
    color: white;
    background-color: rgba(0, 183, 255, 0.952);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 10vh;
    margin: auto;
}
a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: medium;
}
.logo{
    font-size: 1.5rem;
    color: yellow;
}
nav>div{
    width: 15%;
    display: flex;
    justify-content: space-between;
}
@media only screen and (max-width:600px){
    nav>div{
        font-size: 0.8rem;
        width: 40%;
    }
}